.box {
    width: 200px;
    height: 200px;
    background-color: purple;
    transition: background-color 0.5s;
    cursor: pointer;
}
p{
    color: white;
}  
.box:hover {
    background-color: dodgerblue;
    cursor: pointer;
 }
  